html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #dddddd;
}

#navbar {
 display: flex;
 justify-content: flex-end;
 width: 100%;
 background-color: #544c7b;
}

.nav-list {
  display: flex;
  margin-right: 1rem;
  list-style-type: none;
}

h1 {
  color: blue;
}